@charset "UTF-8";

:root {
    --cor1: #A87448;
    --cor2: #FFCBA1;
    --cor3: #FFD9BA;
    --cor4: #4DA4B3;
    --cor5: #A1F1FF;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, yellow, blue);
}